* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.font-heading {
  font-family: Onest, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}

.font-body {
  font-family: Golos Text, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji"
}

/* banner start */
.banner-bg {
  background: linear-gradient(120deg, #70acd4 0%, #ca71ff 20%, #8469cc 30%, #4882e6 50%, #8469cc 70%, #70acd4 100%);
  background-size: 200% 200%;
  animation: gradient-animation 20s ease-in-out alternate infinite
}

.dot {
  display: inline-block;
  width: .25rem;
  height: .25rem;
  margin-left: .25rem;
  margin-right: .25rem;
  vertical-align: middle;
  background-color: currentColor;
  border-radius: 1em;
  opacity: .4
}

/* banner end */

/* upper nav start */
.upperNavBg {
  background-image: url('../assets/upperNav/upperNav.png');
  background-size: cover;
}

/* upper nav end */

/* future ai start */
/* future ai end */